body {
    margin: 0;
    padding: 0;
    background-color: #332D2A;
}
header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    color: #111122;
}
main {
    position: relative;
}
.accent {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 125%;
}
#author {
    font-size: 75%;
    float:right;
    color: #FFFFFF;
}
.copyright {
    font-style: italic;
    font-size: 75%;
    color: #FFFFFF;
}
#quote {
    display: table-cell;
    vertical-align: middle;
    font-size: 250%;
    margin: auto;
}
#quoteBlock {
    min-height: 100vh;
    display: table;
    margin: auto;
    color: #7BB89A;
    font-family: 'Julius Sans One', sans-serif;
}
.wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

@media only screen and (max-width: 64em)
{
    .wrapper {
        width: 80%;
    }

}

@media only screen and (max-width: 32em)
{
    body {
        font-size: 75%;
    }
    .wrapper {
        width: 95%;
    }
}
